*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all{
    height: 100vh;
}
body{
    background-color: #1f131300;
}
.gauche{
    width: 39%;
    height: 100vh;
    background: url(fond_panneau_gauche.jpg);
    background-repeat: no-repeat;
    padding: 42px 43px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
.logo h3{
    color: white;
    font-size: 25px;
}
.phrase{
    padding-top: 50px;
}
.phrase h2{
    font-size: 36px;
    color: white;
}
.qu{
    color: #34CA9D;
}
.p{
    padding-top: 30px;
    padding-bottom: 30px;
}
.p p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 560;
    line-height: 1.5;
}
.in{
    display: flex;
    padding-bottom: 12px;
    gap: 12px;
}
.in p{
    color: white;
}
.stat{
    background-color: white;
    padding: 12px 20px;
    border-radius: 15px;
    transition: all 1s;
}
.stat:hover{
    transition: all 1s;
    transform: scale(1.02);
    box-shadow: 2px 3px 12px black;
    cursor: pointer;
}
.stat h3{
    color: #34CA9D;
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.stat p{
    color: gray;
    font-weight: 700;
}
.droit{
    position: absolute;
    left: 45%;
    top: 10%;
    padding: 12px 30px;
}
.ent h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.ent p{
    color: gray;
}
.ins{
    margin-top: 40px;
}

.mail{
    margin-bottom: 30px;
}
.password{
    margin-bottom: 20px;
}
.ins input{
    padding: 12px 14px;
    width: 80vh;
    background-color: #F7F6FB;
    border: 1px solid #E1E2E6;
    margin-top: 6px;
    border-radius: 12px;
    outline: none;
}
.ins label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 450;
}
.val{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.val input{
    cursor: pointer;
}
#button{
    color: white;
    font-weight: 500;
    margin-top: 10px;
    padding: 8px 30vh;
    font-size: 17px;
    border-radius: 15px;
    border: 1px solid #5B3CC5;
    outline: none;
    cursor: pointer;
    background-color: #5B3CC5;
}
.con{
    text-align: center;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: #5744AF;
    font-weight: 700;
}
.mn{
    margin-top: 23px;
    background-color: #f7f6fb23;
}